package ${packageName}.domain;

import java.io.Serializable;

#foreach ($import in $importList)
import ${import};
#end
import lombok.Data;


/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */

@Data
public class ${domainClassName} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.isNoEdit())
    /** $column.columnComment **/
    @ApiModelProperty("${column.columnComment}")
#if($column.isDateColumn())
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
#end
    private $column.javaType $column.javaField;
#end
#end
}
