package ${packageName}.${modelPackageName};

import java.io.Serializable;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;

#foreach ($import in $importList)
import ${import};
#end
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;


/**
 * ${functionName}对象 ${tableName}
 * @author ${author}
 * @date ${datetime}
 */

@Data
@TableName("${tableName}")
public class ${prototypeClassName} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /**
     * $column.columnComment
     **/
#if($column.isPrimaryKey())
#if($column.isIncrementField())
    @TableId(type = IdType.AUTO,value = "${column.columnName}")
#else
    @TableId(value = "${column.columnName}")
#end
#else
#if($column.isDateColumn())
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
#end
    @TableField("${column.columnName}")
#end
    @ApiModelProperty("${column.columnComment}")
    private $column.javaType $column.javaField;
#end
}
