package ${packageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.github.pagehelper.PageInfo;
import java.util.List;
import ${packageName}.${modelPackageName}.${prototypeClassName};

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${serviceClassName} extends IService<${prototypeClassName}>
{


    /**
     * 查询${functionName}列表
     * 
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
    PageInfo select${prototypeClassName}List(${prototypeClassName} ${className});


}
